*.exe
*.o
*.obj
*.dll
*.so
*.pdb
*.optrpt
*.svg
*_clang
*_gcc
*_icpx
*.g++*
*.clang*
*.icpx*
/*.cpp
compile_flags.txt
number_theory/factorization/primes2^30.txt
number_theory/factorization/primes_gen.cpp
number_theory/factorization/fctr.cpp
number_theory/modular_arithmetic/inv_mod.cpp
matan/dft/krug.cpp
matan/dft/photo.png
matan/dft/*.txt

build/
out/
.vscode/
.vs/
