*.exe
*.o
*.obj
*.dll
*.so
*.pdb
*.optrpt
*.g++*
*.clang*
*.icpx*
/*.cpp
compile_flags.txt
number_theory/factorization/primes2^30.txt
number_theory/factorization/primes_gen.cpp
matan/dft/fourierPortrait/*.png
matan/dft/fourierPortrait/points
matan/dft/fourierPortrait/points.txt
matan/dft/dft_examples.hpp

build/
bench/
out/
.vscode/
.vs/
.claude/
CLAUDE.md
__pycache__/
